div{
    width: 300px;
    margin-left: 800px;
    margin-top: 300px;
    animation: don 3s linear infinite;
    padding: 0px;
}
img{
    width: 200px;
}
@keyframes don {
    0%{
        rotate: 0deg;
        margin-left: 800px;
    }
    50%{
        rotate: -180deg;
        margin-left: 600px;
    }
    100%{
        rotate: -360deg;
        margin-left: 400px;
    }
}